<section class="row bg-dark justify-content-center">
        <div class="col-lg-6 d-flex flex-column align-items-center">
            <%= image_tag @item.image_url, class: 'img-fluid rounded-3 my-2' %>
            <div>
              <%= image_tag @item.image_url, size: '147x98' , class: 'img-fluid rounded-3 my-2' %>
              <%= image_tag @item.image_url, size: '147x98' , class: 'img-fluid rounded-3 my-2' %>
              <%= image_tag @item.image_url, size: '147x98' , class: 'img-fluid rounded-3 my-2' %>
            </div>
        </div>
                    
        <div class="col-lg-6">
            <div class="my-5 text-xl-start">
                <h2 class="fw-bolder text-white mb-3"><%= @item.title %></h2>
                <p class="lead fw-normal text-white-50 mb-4"><%= @item.description %></p>
                <h2 class="fw-bolder text-white mb-3"><%= @item.price %>€</h2>
                <div class="d-grid gap-3 d-sm-flex ">
                    <% if user_signed_in? # The button below will appear only if current_user is connected %>
                    <%= link_to("Ajouter au panier", cart_path(@item.id), method: "patch", class: "btn btn-primary btn-lg px-4 me-sm-3 mb-3") %>
                    <% else # if current_user is NOT connected then button redirect to sign-in page %>
                    <%= link_to("Ajouter au panier", new_user_session_path, class: "btn btn-primary btn-lg px-4 me-sm-3 mb-3") %>
                    <% end %>
                    <%= link_to('Revenir au menu', root_path, class: "btn btn-outline-light btn-lg px-4 me-sm-3 mb-3") %>
                </div>
            </div>
        </div>
    </section>

<!--Second section-->

<div class="row border">
<div class="col-7 p-5 border">
  <h3><%= @item.title %></h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
</div>

<div class="col-5 p-5 border">  
  <h3>Related product</h3>

  <div>
    <%= image_tag @item.image_url, size: '147x98' , class: 'img-fluid rounded-3 my-2' %>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>        
        <% if user_signed_in? # The button below will appear only if current_user is connected %>
        <%= link_to("Ajouter au panier", cart_path(@item.id), method: "patch", class: "btn btn-primary btn-lg px-4 me-sm-3 mb-3") %>
        <% else # if current_user is NOT connected then button redirect to sign-in page %>
        <%= link_to("Ajouter au panier", new_user_session_path, class: "btn btn-primary btn-lg px-4 me-sm-3 mb-3") %>
        <% end %>
    </div>
  </div>
  <div>
  <%= image_tag @item.image_url, size: '147x98' , class: 'img-fluid rounded-3 my-2' %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>        
      <% if user_signed_in? # The button below will appear only if current_user is connected %>
      <%= link_to("Ajouter au panier", cart_path(@item.id), method: "patch", class: "btn btn-primary btn-lg px-4 me-sm-3 mb-3") %>
      <% else # if current_user is NOT connected then button redirect to sign-in page %>
      <%= link_to("Ajouter au panier", new_user_session_path, class: "btn btn-primary btn-lg px-4 me-sm-3 mb-3") %>
      <% end %>
  </div>
</div>

