<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <div class="container-fluid py-3">
    <div class="left_navbar d-flex">
      <%= link_to 'CatShop', root_path, class: 'navbar-brand text-white' %>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Variété / pelage / goût" aria-label="Rechercher">
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
    </div>
    <div class="right_navbar">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%if user_signed_in?%>
          <li class="nav-item">
            <%= link_to 'Boutique', items_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%# A remplacer/agrémenter d'une icone bootstrap %>
            <%= link_to 'Panier', carts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%# A remplacer par un avatar %>
            <%= link_to 'Mon compte', customer_path(current_user.id), class: 'nav-link' %>
          </li>
        <%else%>
          <li class="nav-item mx-2">
            <%= link_to "Se connecter", new_user_session_path, class: 'btn btn-outline-success'%>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "S'inscrire", new_user_registration_path, class: 'btn btn-success'%>
          </li>
        <%end%>
        </ul>
      </div>
    </div>
  </div>
</nav>