<div class="card rounded-top mb-3">
  <%= image_tag(my_cat.image_url, alt: my_cat.title, class: "card-img-top") %>
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-auto">
        <h5 class="card-title "><%= my_cat.title %></h5>
      </div>
      <div class="col-3">
        <span class="badge rounded-pill align-middle bg-light text-black"><%= my_cat.price %> &euro;</span>
      </div>
    </div>
    <p class="card-text"><%= "#{my_cat.description[0..60]}..." %></p>
    <%= link_to("Voir détails", root_path, class: "btn btn-info btn-sm") %>
    <% if user_signed_in? # The button below will appear only if current_user is connected %>
    <%= link_to("Ajouter au panier", carts_update_path, class: "btn btn-primary btn-sm") %>
    <% else # if current_user is NOT connected then button redirect to sign-in page %>
    <%= link_to("Ajouter au panier", new_user_session_path, class: "btn btn-secondary btn-sm") %>
    <% end %>
  </div>
</div>
