<div class="card" style="width: 18rem;">
  <%= image_tag(my_cat.image_url, alt: my_cat.title, class: "card-img-top") %>
  <div class="card-body">
    <h5 class="card-title"><%= my_cat.title %></h5>
    <p class="card-text"><%= my_cat.description %></p>
    <%= link_to("Voir détails", root_path, class: "btn btn-primary") %>
    <% if user_signed_in? # The button below will appear only if current_user is connected %>
    <%= link_to("Ajouter au panier", root_path, class: "btn btn-secondary") %>
    <% end %>
  </div>
</div>

